@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");


* {
  box-sizing: border-box;
}

body {
  background-color: #ADD8E600;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header{
  background-color: black;
  
}

.container{
  width:80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:auto;
}

header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2{
  font-weight: 500;
  font-size: 20px;
  color:#fff
}

.search{
  background-color: transparent;
  border-radius: 50px;
  height: 30px;
  border : 1px solid rgb(68, 70, 80);
  box-shadow: 1px 0 1px rgba(0,0,0,0.5);
  font-family: inherit;
  color:white;
  padding:15px;
  outline: none;
}

.search::placeholder{
  color:#00FFFFFF;
}


.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  background-color: black;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  overflow: hidden;    
  position: relative;   
  margin: 1rem;
  width: 300px;
}

.movie img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}
.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-overview {
  background-color: #fff;
  color: black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview {
  transform: translateY(0%);
}

.tag {
  background-color: #ADD8E600;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}

.tag.green {
  color: rgb(5, 184, 5);
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}